<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/phpunit/Bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">

    <testsuite name="Phalcon - Testsuite">
        <directory>tests/phpunit/</directory>
    </testsuite>
</phpunit>